extends layout

block content
  #content
    //- ul#items
    //-   each product in products
    //-     li(data-id=`${product.id}`)
    //-       article
    //-         header
    //-           figure
    //-             img(src=`images/${product.image}` alt="menu-item")
    //-           h2.name= product.title
    //-         p.price $#{product.price.toFixed(2)}
    //-         footer
    //-           a(href="#" class="add_cart") Add to cart


